automat
bs4
chardet
cloud-init
colorama
command-not-found
configobj
constantly
cryptography
dbus-python
distro
distro-info
entrypoints
fastapi
flask
googlemaps
hyperlink
incremental
ipykernel
jsonpatch
jsonpointer
jsonschema
language-selector
launchpadlib
lxml
more-itertools
mysql-connector-python
netifaces
oauthlib
pandas
pip-chill
psycopg2-binary
pyasn1
pyasn1-modules
pygobject
pyhamcrest
pyjwt
pymacaroons
pymysql
pynacl
pyopenssl
pyrsistent
pyserial
pysocks
pytest
python-apt
python-debian
pyyaml
requests-unixsocket
selenium
service-identity
simplejson
sos
sqlalchemy
ssh-import-id
systemd-python
twisted
ubuntu-advantage-tools
ufw
unattended-upgrades
uvicorn
zope.interface
python-multipart
httpx