body {
    font-family: Arial, Helvetica, sans-serif;
	background: linear-gradient(180deg, #00171C 0%, #252F31 28.99%, #333839 54.17%, #1F2B2E 71.54%, #00171C 100%);
    background-color: gray;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.menu{
    background-color: white;
    position: fixed;
    width: 100%
}

h1{
    color: black;
    text-align: center;
    margin: 0%;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 50px;
    font-weight: 400;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.fundo-principal {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.limitador {
	max-width: 1000px;
	margin: 0 auto;
}
