.card-deck {
    padding-top: 50px;
}

.material-symbols-outlined {
    color: white;
    font-size: 20px;
    font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' -25,
  'opsz' 48
}

.material-favourited {
    color: #D11504;
    font-variation-settings:
        'FILL' 0
        'wght' 700,
        'GRAD' -25,
        'opsz' 48
}

.btn-favourite {
    line-height: 0;
    border-radius: 50%;
    overflow: hidden; /* Garante que a imagem não ultrapasse as bordas arredondadas */
    background-color: #1F2B2E;
    border: none;
}

.btn-favourited {
    line-height: 0;
    border-radius: 50%;
    overflow: hidden; /* Garante que a imagem não ultrapasse as bordas arredondadas */
    background-color: #1F2B2E;
    border: none;
}

.link-container {
    display: flex;
    justify-content: right;
}