body {
    font-family: Arial, Helvetica, sans-serif;
	background: linear-gradient(180deg, #00171C 0%, #252F31 28.99%, #333839 54.17%, #1F2B2E 71.54%, #00171C 100%);
    background-color: gray;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.menu{
    background-color: white;
    position: fixed;
    width: 100%
}

.form-control{
    border-radius: 20px;  
    color: rgb(167, 165, 165);
}

.btn {
    width: 38px; 
    height: 38px;
    border-radius: 50%; 
    overflow: hidden; 
    background-color: rgb(244, 243, 243); 
    border: none; 
    cursor: pointer; 
    outline: none;
}

.btn:hover{
	background: rgb(169, 169, 169);
}

h1{
    color: black;
    text-align: center;
    margin: 0%;
    font-family: Be Vietnam Pro;
    font-size: 45px;
    font-weight: 400;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.fundo-principal {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.limitador {
	max-width: 1000px;
	margin: 0 auto;
    text-align: center;
    align-items: center;
    padding: 40px ;
}

h2{
    color: white;
}

p{
    color: white;
    font-size: 20px;
    text-align: justify;
}

.paragrafo{
    padding: 40px;
}

.quemsomos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quemsomos img {
    max-width: 100%; 
    height: auto; 
}

.fontes{
    padding-left: 280px;
    display: inline-block;
}
