<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imóvel {{estates_ind.id}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='estilo.css') }}" /> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='listagem.css') }}" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Almarai&family=Anek+Gurmukhi&family=Be+Vietnam+Pro&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <h1>PÁGINA DO IMÓVEL {{estates_ind.id}}</h1>

    {% for estate in estates %}
    <!-- Imóvel -->
    <div class="card">
        <!-- <img class="card-img-top"
            src="{{estate.img if estate.img != None else url_for('static', path='/images/blocked.png') }}"
            alt="Imagem de capa do card" /> -->
        <div class="card-body">
            <h5 class="card-title"><a href="/estates/{{estate.estates_ind_id}}">{{estate.address}}</a></h5>
            <p class="card-text">
                {{estate.price}}
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">{{estate.timestamp}}</small>
            {% if estate.favourited == 1 %}
            <small class="text-muted">Favoritado!</small>
            {% else %}
            <small class="text-muted">Pode favoritar!</small>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</body>

</html>