<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/login.css') }}">
    
    <title>Login</title>
</head>
<body>
   
    <h1 class="titulo" >MERCADO IMOBILIÁRIO DE LUXO</h1>

    <div class="area-login">
        <div class="login">
            <div>
                <img src="static/images/logo_iggpl_luxury.jpg" >
            </div>

            <form action="validate" method="POST">
                <input type="text" name="email" placeholder="E-mail" required>
                <input type="password" name="password" placeholder="Senha" required>
                <input type="submit" value="entrar">
            </form>
            <p>Ainda não tem uma conta?<a href="#">Criar conta</a></p>
        </div>
    </div>
</body>

</html>