<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Perfil</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', path='images/logo_iggpl_luxury.jpg') }}">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<link rel="stylesheet" href="{{ url_for('static', path='perfil.css') }}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Almarai&family=Anek+Gurmukhi&family=Be+Vietnam+Pro&display=swap"
		rel="stylesheet">

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
	<script>
		async function favourite(user_id, estates_ind_id) {
            let btn = document.getElementById(`btn-${estates_ind_id}`)

            let favourited = btn.classList.contains("btn-favourite")

            // console.log({user_id, estates_ind_id, favourited})

            let response = await fetch(`/api/favourite?estate_ind_id=${estates_ind_id}&favourited=${favourited}`, {
                method: "post",
                credentials: "include"
            })

            if (!response.ok) throw new Error("FAVOURITE RESPONSE ERROR")

            if (favourited) {
                btn.classList.remove("btn-favourite")
                btn.classList.add("btn-favourited")
                btn.innerText = "Remover"
            } else {
                btn.classList.remove("btn-favourited")
                btn.classList.add("btn-favourite")
				btn.innerText = "Favoritar"
            }

            // console.log(response)
        }
	</script>
</head>

<body>

	<nav class="navbar navbar-expand-md navbar-light bg-white">
		<a class="navbar-brand" href="#">
			<img style="max-width: 100px;" src="{{ url_for('static', path='images/logo_iggpl_luxury.jpg') }}" />
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/estates">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">Sobre</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/profile">Perfil</a>
				</li>
			</ul>

		</div>
	</nav>

	<div class="bg-white text-center p-3">
		<h1 class="m-0">
			MERCADO IMOBILIÁRIO DE LUXO
		</h1>
	</div>

	<div class="container-fluid fundo-principal m-0">


		<div class="limitador">

			<div class="row justify-content-center">
				<div class="col-2">
					<img style="max-width: 140px" src="{{ url_for('static', path='/images/gabi.png') }}">
				</div>
				<div class="col-3">
					<h3 class="lista">{{user.name}}</h3>
					<p class="describelist">Conta administrativa</p>
					<p class="describelist">{{estates_length}} Imóveis salvos</p>
				</div>
			</div>
			<br>
			<br>
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						{% for estate in estates %}
						<div class="card">
							<div class="card-horizontal">
								<div class="img-square-wrapper">
									<img class="" style="max-width: 300px"
										src="{{estate.img if estate.img != None else url_for('static', path='/images/imgnotfound.png') }}"
										alt="Imagem de capa do card" />
								</div>
								<div class="card-body">
									<h5 class="lista">{{estate.type.title() if
										estate.type != None else "Terreno"}}, {{estate.district.title() if
										estate.district != None else estate.address.title()}}</h5>
									<p class="describelist">
										Preço: R$ {{estate.price}}
									</p>
									<p class="describelist">
										Endereço: {{estate.address}}
									</p>
									<p class="describelist">
										Quartos:{% if estate.dorms == None %}
										0
										{% else %}
										{{estate.dorms}}
										{% endif %}
									</p>
									<p class="describelist">
										Banheiros:{% if estate.toilets == None %}
										0
										{% else %}
										{{estate.toilets}}
										{% endif %}
									</p>
									<p class="describelist">
										Vagas:{% if estate.parking == None %}
										0
										{% else %}
										{{estate.parking}}
										{% endif %}
									</p>
								</div>
							</div>
							<div class="card-footer">
								<small class="text-muted">
									<div class="link-container">
										{% if estate.favourited_user_id == user.id and estate.favourited == 1 %}
										<!-- Desfavoritar -->
										<a id="btn-{{estate.estates_ind_id}}" class="ir-para-site btn-favourited" onclick="favourite({{user.id}}, {{estate.estates_ind_id}})">
											Remover
										</a>
										{% else %}
										<a id="btn-{{estate.estates_ind_id}}" class="ir-para-site btn-favourite" onclick="favourite({{user.id}}, {{estate.estates_ind_id}})">
											Favoritar
										</a>
										{% endif %}
										{% if estate.source == "vivareal" %}
										<a href="https://www.vivareal.com.br/imovel/{{estate.source_id}}"
											class="ir-para-site">Ir para o site</a>
										{% else %}
										<a href="https://www.lopes.com.br/imovel/{{estate.source_id}}"
											class="ir-para-site">Ir para o site</a>
										{% endif %}
									</div>
								</small>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>


</body>

</html>

<